{block content}
<h1>Qr code web pages</h1>

<div class="ui-widget">
    <label for="tags"> </label>


{control searchForm}
</div>

<div id="player"></div>
<script src="{$basePath}/js/playYoutube.js"></script>