{block content}

<div class="center" id="searchPage">
    <h1>Qr code web pages</h1>

    <div class="ui-widget center" id="searchForm">
        <label for="tags"> </label>
    {control searchForm}
    </div>

    <div id="player"></div>

</div>
<script src="{$basePath}/js/playYoutube.js"></script>